.checkout {
}
.actions {
  text-align: right;
}
.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #40513b;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: #609966;
  border-color: #609966;
  color: white;
}
.actions button:disabled {
  background-color: #ccc;
  color: black;
  cursor: not-allowed;
}

.actions .button--alt {
  color: #40513b;
}

.actions .button {
  background-color: #40513b;
  color: white;
}
